body {
  background-color: powderblue;
  margin: 20px;
}

header, main, nav, footer {
    background-color: aqua;
    border: 1px solid aqua;
    border-radius: 11px;
    padding: 11px;
    margin: 10px;
}

.flex {
    display: flex;
    justify-content: space-evenly;
    padding: 0;
}

nav a {
    background-color: aquamarine;
    border-radius: 3px;
    padding: 6px;
}

.column{
    display: flex;
    flex-flow: row nowrap;
    justify-content:space-between;

}

aside {
    display: flex;
    flex-flow: column nowrap;
    gap: 20px;
}

aside a {
    background-color: aquamarine;
    border-radius: 3px;
    padding: 11px;
}

h1 {
  color: blue;
}
p {
  color: red;
}